{% extends 'base.html' %}

{% block head %}

<title>Affair ML API</title>
<link rel="Stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}


{% block body %}
<header><h2 style="text-align: center">Predict if an Extramarital Affair is Possible or Not</h2></header>

<form id="form" class="topBefore" action="/predict" method="POST">
  <input type="number" step="0.1" name="age" placeholder="age">
  <input type="number" step="0.1" name="yrs_married" placeholder="years married">
  <input type="number" step="0.1" name="children" placeholder="number of children">
  
  <input list="r" name="religious" placeholder="Religiousness">
  <datalist id="r">
    <option value="1">Not religious at all</option>
    <option value="2">Mildly religious</option>
    <option value="3">Fairly religious</option>
    <option value="4">Strongly Religious</option>
  </datalist>

  <input list="m" name="rating_of_marriage" placeholder="Marriage Rating">
  <datalist id="m">
    <option value="1">Very Poor</option>
    <option value="2">Poor</option>
    <option value="3">Fair</option>
    <option value="4">Good</option>
    <option value="5">Very Good</option>
  </datalist>
  
  <input list="e" name="education" placeholder="Education"> 
  <datalist id="e">
    <option value="9">Grade School</option>
    <option value="12">High School</option>
    <option value="14">Some College</option>
    <option value="16">College Graduate</option>
    <option value="17">Some Graduate School</option>
    <option value="20">Advanced Degree</option>
  </datalist>

  <input list="o" name="occupation" placeholder="Occupation"> 
  <datalist id="o">
    <option value="1">Student</option>
    <option value="2">Farming/Agriculture/Worker</option>
    <option value="3">White Collar</option>
    <option value="4">Teacher/Social Worker/Nurse/Artist</option>
    <option value="5">Managerial Administrative/Business</option>
    <option value="6">Professional with Advanced Degree</option>
  </datalist>

  <input list="ho" name="h_occupation" placeholder="Husband's Occupation"> 
  <datalist id="ho">
    <option value="1">Student</option>
    <option value="2">Farming/Agriculture/Worker</option>
    <option value="3">White Collar</option>
    <option value="4">Teacher/Social Worker/Nurse/Artist</option>
    <option value="5">Managerial Administrative/Business</option>
    <option value="6">Professional with Advanced Degree</option>
  </datalist>
  <input id="submit" type="submit" value="Predict">
</form>
{% endblock %}