<link rel="Stylesheet" href="{{ url_for('static', filename='try.scss') }}">
<label for="standard-select">Rating of Marriage</label>
<div class="select">
  <select id="standard-select">
    <option value="1">Very Poor</option>
    <option value="2">Poor</option>
    <option value="3">Fair</option>
    <option value="4">Good</option>
    <option value="5">Very Good</option>
  </select>
  <span class="focus"></span>
</div>

<label for="standard-select">How religious you are?</label>
<div class="select">
  <select id="standard-select">
    <option value="1">Not religious at all</option>
    <option value="2">Mildly religious</option>
    <option value="3">Fairly religious</option>
    <option value="4">Strongly Religious</option>
  </select>
  <span class="focus"></span>
</div>

<label for="standard-select">Education</label>
<div class="select">
  <select id="standard-select">
    <option value="9">Grade School</option>
    <option value="12">High School</option>
    <option value="14">Some College</option>
    <option value="16">College Graduate</option>
    <option value="17">Some Graduate School</option>
    <option value="20">Advanced Degree</option>
  </select>
  <span class="focus"></span>
</div>

<label for="standard-select">Occupation</label>
<div class="select">
  <select id="standard-select">
    <option value="1">Student</option>
    <option value="2">Farming/Agriculture/Worker</option>
    <option value="3">White Collar</option>
    <option value="4">Teacher/Social Worker/Nurse/Artist</option>
    <option value="5">Managerial Administrative/Business</option>
    <option value="6">Professional with Advanced Degree</option>
  </select>
  <span class="focus"></span>
</div>

<label for="standard-select">Husband's Occupation</label>
<div class="select">
  <select id="standard-select">
    <option value="1">Student</option>
    <option value="2">Farming/Agriculture/Worker</option>
    <option value="3">White Collar</option>
    <option value="4">Teacher/Social Worker/Nurse/Artist</option>
    <option value="5">Managerial Administrative/Business</option>
    <option value="6">Professional with Advanced Degree</option>
  </select>
  <span class="focus"></span>
</div>